@font-face{
	font-family: myfont;
	src: url('../fonts/constantine.ttf');
}

@font-face{
	font-family: bodyfont;
	src: url('../fonts/Merriweather-Regular.ttf');
}

@font-face{
	font-family: paragraphfont;
	src: url('../fonts/cantora.ttf');
}

.paragraph-font{
	font-family: bodyfont;
}

body{
	/*background: linear-gradient(#000000,#000000,#000000);*/
	background-image: url("../img/panel-default-background.jpg");
	background-attachment: fixed;
}

body p,li{
	color: #8d8d8d;
}
body {
	font-family: bodyfont;
}

body h1,h2,h3,h4{
	font-family: myfont;
	color: #eeeeee;
}


.clearfix{
	overflow: auto
}

.container{
	background-color: #000;
}

.navbar{
	padding-top: 8px;
	height: 70px;
	
}

.my-navbar{
	background: linear-gradient(#000000,#000000,#000000);
	font-family: myfont;
}

.my-navbar .navbar-brand{
	color: white;
	font-size: 36px;
}

.my-navbar .navbar-brand:hover{
	color: #e0e0e0;
}


.my-navbar .my-primary-menu li a{
	font-size: 16px;
	color: white;
}

.my-navbar .my-primary-menu li a:hover{
	color: #e0e0e0;
}

.my-navbar .my-primary-menu .dropdown-menu a{
	color: #1a0000;
	font-size: 14px;
}

.carousel{
	margin-top: 20px;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.link-1:hover{
  transition: 0.3s ease;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  padding-left: 15px;
  padding-right: 15px;
}

.arrow-up{
	width: 0;
	height: 0;
	position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #212121;
	right:103px;
	top: 45px;
	display: none;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
:-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}


.fa-unlock-alt{
	color: #fff;
	padding-right: 5px;
}

.fa-user-circle{
	color: #fff;
	padding-right: 5px;
}

.loaded-content .table{
	background-color: white;
}

.my-sidebar{
	border-right: solid;
	color: white;

}
.my-sidebar ul li a{
	color: #fff;
	font-size: 110%;
	border-width: thin;
}

.my-sidebar ul li a:hover{
	color: #000;
}

.my-sidebar ul li a:focus{
	color: #000;
}

.result-table{
	margin-top: 2%;
}

.my-search-panel{
	margin-top: 2%;
}

.main-service-box .panel-default{
	background-image: url("../img/panel-default-background.jpg");
}

.main-service-box .panel-default p{
	color: #bcbcbc;
}

.main-service-box .panel-heading{
	background-image: url("../img/panel-default-header3.jpg");
}

.main-service-box .panel-heading h4{
	color: #fff;
}

.well{
	background-image: url("../img/panel-default-background.jpg");
}

.well a{
	background-color: #212121;
	color: #fff;
	border-radius: 5px;
}
.well p{
	text-align: center;
}
.panel-body a{
	background-color: #212121;
	color: #fff;
	border-radius: 5px;
}

.modal-body label{
	color:#bcbcbc;
}

.my-carousel {
	height: 75%;
}

table{
	background : linear-gradient(#bdbdbd,#e0e0e0);
}

.form-group label{
	color: #e0e0e0;
}

.view-all{
	font-size: 70%;
	font-weight: bold;
}

.request-icon{
	float: right;
}

.request-icon .envelop:hover{
	color: #4cae4c;

}
.badge{
	background-color: #2e6da4;
}

.badge:hover{
	background-color: #4cae4c;
}

.top-buffer {
	margin-top:2%;
}

.right-buffer {
	margin-right:20px;
}

.my-large-modal{
	width:80%;
}

.my-lg-button{
	/*height: 30px;*/
	width:100%;
	border-radius: 5px;
	margin-bottom: 20px;
	border-color: #fff;
	background: linear-gradient(#1b1b1b,#000);
}

.my-lg-button-danger{
	/*height: 30px;*/
	width:50%;
	border-radius: 5px;
	margin-bottom: 20px;
	border-color: #fff;
	background: linear-gradient(#ac1500, #f00011);
}

.my-lg-button-success{
	/*height: 30px;*/
	width:50%;
	border-radius: 5px;
	margin-bottom: 20px;
	border-color: #fff;
	background: linear-gradient(#067f3e, #16d15c);
}

.my-lg-button-info{
	/*height: 30px;*/
	width:50%;
	border-radius: 5px;
	margin-bottom: 20px;
	border-color: #fff;
	background: linear-gradient(#0a7bb8, #1fedec);
}

.my-lg-button-danger:hover,.my-lg-button-success:hover, .my-lg-button:hover{
	background: linear-gradient(#494949,#1b1b1b);
	border-color: #fff;
}

.special-tag{
	color: red;
}

.book-now-button{
	/*height: 30px;*/
	border-radius: 5px;
	background: linear-gradient(#414141, #414141);
}

.book-now-button:hover{
	/*height: 30px;*/
	background: linear-gradient(#000000, #000000);
	border-color: #fff;
}

.profile-image{
	height: 120%; width: 120%
}

.break-words{
	word-break:break-all;
}