@font-face{
	font-family: myfont;
	src: url('../fonts/constantine.ttf');
}

@font-face{
	font-family: paragraphfont;
	src: url('../fonts/cantora.ttf');
}

body{
	/*background: linear-gradient(#000000,#000000,#000000);*/
	background-image: url("../img/panel-default-background.jpg");
}

body p,li{
	color: #8d8d8d;
}
body {
	font-family: paragraphfont;
}

body h1,h2,h3,h4{
	font-family: myfont;
	color: #eeeeee;
}


.clearfix{
	overflow: auto
}

.container{
	background-color: #000;
}

.navbar{
	padding-top: 8px;
	height: 70px;
	
}

.my-navbar{
	background: linear-gradient(#000000,#000000,#000000);
	font-family: myfont;
}

.my-navbar .navbar-brand{
	color: white;
	font-size: 36px;
}

.my-navbar .navbar-brand:hover{
	color: #e0e0e0;
}


.my-navbar .my-primary-menu li a{
	font-size: 16px;
	color: white;
}

.my-navbar .my-primary-menu li a:hover{
	color: #e0e0e0;
}

.my-navbar .my-primary-menu .dropdown-menu a{
	color: #1a0000;
	font-size: 14px;
}

.carousel{
	margin-top: 20px;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.link-1:hover{
  transition: 0.3s ease;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  padding-left: 15px;
  padding-right: 15px;
}

.arrow-up{
	width: 0;
	height: 0;
	position: absolute;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #212121;
	right:103px;
	top: 45px;
	display: none;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}


.fa-unlock-alt{
	color: #fff;
	padding-right: 5px;
}

.fa-user-circle{
	color: #fff;
	padding-right: 5px;
}

.loaded-content .table{
	background-color: white;
}

.my-sidebar ul a{
	background-color: white;
	color: #000;
	border-width: 5px;
	border-style: ridge;
	border-color: grey;
}

.my-sidebar-submenu li a{
	background-color: white;
	color: #000;
	border-style: none;
	text-align: center;
}

.result-table{
	margin-top: 2%;
}

.my-search-panel{
	margin-top: 2%;
}

.main-service-box .panel-default{
	background-image: url("../img/panel-default-background.jpg");
}

.main-service-box .panel-default p{
	color: #bcbcbc;
}

.main-service-box .panel-heading{
	background-image: url("../img/panel-default-header3.jpg");
}

.main-service-box .panel-heading h4{
	color: #fff;
}

.well{
	background-image: url("../img/panel-default-background.jpg");
}

.well a{
	background-color: #212121;
	color: #fff;
	border-radius: 5px;
}
.well p{
	text-align: center;
}
.panel-body a{
	background-color: #212121;
	color: #fff;
	border-radius: 5px;
}

.modal-body label{
	color:#bcbcbc;
}

